.pricing {
    padding: var(--padding-3rem);
    /* background-color: var(--color-dark--1); */
    min-height: 100vh;
}

.pricing section {
    width: clamp(80rem, 80%, 90rem);
    margin: 6rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
    align-items: center;
}

.pricing section img {
    width: 45rem;
    height: 45rem;
    object-fit: cover;
    object-position: bottom;
}

.pricing h2 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    color: var(--color-dark--1);
}

.pricing p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--color-dark--2);
}

.pricing section a {
    margin-top: 2rem;
}
